<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layout">
<th:block layout:fragment="content">
<meta charset="UTF-8">
	<link href="/css/list.css" rel="stylesheet" type="text/css">
	<!-- 이미지배너 -->
	<div id="img_benner">
		<img src="img/메인배경.png" alt="배너">
	</div>
	
	<h1>자유 게시판</h1>
	<div id="comunity">
		<ul>
			<li><a href="listBoard">자유게시판</a></li>
			<li><a href="listBoard">정보게시판</a></li>
			<li><a href="listBoard">질문게시판</a></li>
			<li><a href="listBoard">홍보게시판</a></li>
			<li><a href="listBoard">모집게시판</a></li>
		</ul>
	</div>
	
	<hr>
	
	<table class="titleForm" th:each="Board, status : ${listcontent}" th:if="${Board.b_re_level == 0}">
		<tr>
			<td th:text="${Board.b_title}" style="width: 500px; font-size: 25px;"></td>
			<td th:text="${Board.m_nickname}" style="width: 100px; font-size: 16px;"></td>
			<td th:text="${#temporals.format(Board.create_date, 'yy-MM-dd HH:mm')}" style="width:150px; font-size: 16px;"></td>
		</tr>
		<tr>
			<td th:text="${Board.b_content}" colspan="3" height="400px"></td>
		</tr>
		<tr>
			<td th:text="${Board.b_like_cnt}" colspan="3" style="padding-left: 395px; color:red;"></td>
		</tr>
		<tr>
			<form action="boardLike">
				<td colspan="3" style="padding-left: 380px;">
					<input type="hidden" name="board_id" th:value="${board.board_id}">
					<input type="submit" value="추천">
					<input type="submit" value="신고">
				</td>
			</form>
		</tr>
	</table>
		
	<hr>
	<form id="reply">
		<table>
			<tr th:each="Board, status : ${listcontent}" th:if="${Board.b_re_level > 0}">
				<td th:text="${Board.m_nickname}" style="width: 100px;"></td>
				<td th:text="${Board.b_content}" style="width: 400px;"></td>
				<td th:text="${#temporals.format(Board.create_date, 'yy-MM-dd HH:mm')}" style="width:150px;"></td>
				<td><input type="submit" value="답글"></td>
				<td><input type="submit" value="신고"></td>
			</tr>
		</table>
	</form>
	
	<hr>
	
	<h6>명예훼손, 개인정보 유출, 분쟁 유발, 허위 사실 유포 등의 글은 이용약관에 의해 제제는 물론<br> 
	법률에  의해 처벌받을 수 있습니다.건전한 커뮤니티를 위해 자제 당부 드립니다.</h6>
	<form action="writeReply">
		<div id="replyForm">
			<input type="hidden" name="member_id" value="5">
			<input type="hidden" name="b_common_board" value="bor100">
			<input type="hidden" name="board_id" value="19">
			<input type="text" name="b_content" placeholder="댓글을 입력하세요">
			<input type="submit" value="등 록">
		</div>
	</form>
</html>