<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout/layout">
<th:block layout:fragment="content">
<style>
	th, td { border-bottom: 2px solid rgb(64, 64, 64); }
</style>
<meta charset="UTF-8">
	<link href="/css/list.css" rel="stylesheet" type="text/css">
	<!-- 이미지배너 -->
	<div id="img_benner">
		<img src="img/메인배경.png" alt="배너">
	</div>
	
	<h1>자유 게시판</h1>
	<div id="comunity">
		<ul>
			<li><a href="listBoard">자유게시판</a></li>
			<li><a href="listBoard">정보게시판</a></li>
			<li><a href="listBoard">질문게시판</a></li>
			<li><a href="listBoard">홍보게시판</a></li>
			<li><a href="listBoard">모집게시판</a></li>
		</ul>
	</div>
	  <!-- 검색창 -->
	<div id="serch">
		<input type="text" placeholder="종합 검색">
	</div>
	
		<hr>
		<form action="list" id="list">
			커뮤니티-자유게시판
			<input type="checkbox">이미지 첨부글만 보기
			
			<select>
				<option value="s_job">최신순</option> 
				<option value="s_ename">조회수순</option> 
				<option value="s_ename">추천순</option> 
			</select>
			
			<a href="writeBoardForm">글쓰기</a>
		</form>
	<form>
		<th:block>
			<table>
				<!-- <tr>
					<th>번호</th>
					<th>제목</th>
					<th>아이디</th>
					<th>작성일</th>
					<th>추천수</th>
					<th>조회수</th>
				</tr> -->
				<tr th:each="Board, status : ${listBoard}">
					<td style="width: 300px;">
						<a th:text="${Board.b_title}" th:href="@{'content?board_id=' + ${Board.board_id}}"></a>
					</td>
					<td th:text="${Board.m_nickname}" style="width: 100px;"></td>
					<td th:text="${#temporals.format(Board.create_date, 'yy-MM-dd HH:mm')}" style="width:150px;"></td>
					<td th:text="${Board.b_like_cnt}" style="width: 50px;"></td>
					<td th:text="${Board.b_view_cnt}" style="width: 30px;"></td>
				</tr>
			</table>
		</th:block>
	</form>
	<div>
		<th:block th:if="${page.startPage - page.pageBlock >= 1}">
		    <a th:href="'listBoard?currentPage=' + ${page.startPage - page.pageBlock}"><span>[이전]</span></a>
		</th:block>
		
		<th:block th:each="i: ${#numbers.sequence(page.startPage, page.endPage)}">
		    <a th:href="'listBoard?currentPage=' + ${i}">
		        <span th:text="${i}" th:if="${i == page.currentPage}">[<span th:text="${i}"></span>]</span>
		        <span th:text="${i}" th:unless="${i == page.currentPage}">[${i}]</span>
		    </a>
		</th:block>
		
		<th:block th:if="${page.endPage + page.pageBlock <= page.totalPage}">
		    <a th:href="'listBoard?currentPage=' + ${page.startPage + page.pageBlock}"><span>[다음]</span></a>
		</th:block>
	</div>
	<hr>
	
</html>