@charset "UTF-8";
	
	body {
		 font-size: 20px;		color: #205E61;
		 font-weight: bolder;
		 font-family: 'IBM Plex Sans KR', sans-serif;
		 margin: 0; 			padding: 0;
		 text-align: center;
	}
	
	/* 기본 p 글자 */
	p {
		font-size: 13px; 		weight: 100%;
		float:left;				height: 1px;
	}	

	/* 이메일 주소, 비밀번호 입력 창 */
	input {
		width: 275px;		box-sizing: border-box;
		height: 40px;		font-family: 'IBM Plex Sans KR', sans-serif;
		border-radius:12px;	border: 2px solid  #205E61;
		color: #205E61;  	background-color: #F8F8F8;
		font-weight: bolder;
	}
	
	/* 입력창 기본 글자 색 */
	input::placeholder{ color: #5F9EA0; }
	input:focus{ outline: 0px solid #205E61; }
	
	/* 에러 메세지 */
	.error {
	
	}
	
	/* 로그인메인 고순이 */
	.loginLogo > a {
		display: flex;
		justify-content: center;
	}
/* 	a > img{   
		float : center;		margin : 100px 0 50px 0; <- 고슴도치오류 내려옴
		display: block; 	width: 200px;
		height: 200px;		object-fit: cover;
	} */
	a > img{
		float : center;		
		display: block; 	width: 200px;
		height: 200px;		object-fit: cover;
	}
	
	
	/* 로그인, 회원가입 버튼  */
	.py-3 {
		
	}
	
   /* 회원가입 버튼 */
	button {
		width: 90px;         border-radius: 7px;
		height: 32px;         box-sizing: border-box;
		font-size: 15px;        font-weight:bolder;
		color:white;
		border:  #205E61;       background-color: #205E61;
	}
	button:hover {
		color: #205E61;
		background-color:  white;
		transition: ease 0.5s;
	}
	
	/* 라디오 버튼 */
	input[type="radio"] {
		width: 15px;         
		height: 15px;         
	}
	/* 구분선 */
	hr {
		height: 7px; 		border-radius: 4px;
		width: 400px; 		border: 0px;
		background-color: #5F9EA0; 
	}
	
	#file {
		font-family: 'IBM Plex Sans KR', sans-serif;
		border-radius: 0;	border: 0;
		color: #205E61;  	
		background-color: white;
		font-weight: bolder;
	}
	
	#userTag {
		width: 120px;		height: 40px;
		border-radius: 7px;	font-weight:bolder;
		font-size: 15px;	color:white;
		background-color: #5F9EA0; 
	}
	
	/* 이메일 인증 안내 메시지  */
	.success-msg, .error-msg {
		  font-size: 14px;
		  font-weight: bold;
		}
		
	.success-msg {
		  color: green;
		}
		
	.error-msg {
		  color: red;
		}
		
	/* 회원가입, 아이디 찾기, 비밀번호 찾기 버튼 */
	.btn-find {
  		font-size: 13px;
		}
